.settingsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.settingsContent > .label {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.settingsContent > .label > input {
  font-size: 21px;
}

.settingsContent > .label > .submit {
  border: 1px solid black;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.settingsContent > .label > .submit:hover {
  cursor: pointer;
  background-color: rgb(67, 161, 255);
  color: white;
  transition: 0.5s;
}
