.filterMain {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: 480px;
}

.filterContent {
  background-color: white;
  padding: 20px 50px 20px 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  border: 1px solid black;
  font-size: 25px;
}
.column {
  height: 150%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  transform: translateY(-50%);
}

.labelField {
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  z-index: 1;
  position: inherit;
  background-color: transparent;
  font-size: 17px;
  font-weight: 700;
}

.labelText {
  display: block;
  top: 0;
  position: absolute;
  z-index: 0;
}

.labelField:focus,
.labelField:not(:placeholder-shown) {
  ~ .labelText {
    position: absolute;
    font-weight: 700;
    transition: 0.2s;
    top: -20px;
  }
  border-width: 2px;
}

.yearDropdown:hover {
  cursor: pointer;
  transition: 0.2s;
  color: #1c448e;
}

.filterContent > .submitBtn {
  border: 2px solid #1c448e;
  border-radius: 5px;
  color: #1c448e;
  padding: 0px 30px 0px 30px;
}

.filterContent > .submitBtn:hover {
  background: #1c448e;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}
