.navbarContent {
  display: flex;
  gap: 30%;
  justify-content: center;
  padding: 15px;
}

.navbarContent > .right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.authButton {
  color: #1c448e;
}

.authButton:hover {
  cursor: pointer;
  color: #848fa5;
  transition: 0.2s;
}

.postButton {
  color: #1c448e;
  border: 2px solid #1c448e;
  padding: 5px 40px 5px 40px;
  border-radius: 10px;
}

.postButton:hover {
  cursor: pointer;
  background-color: #1c448e;
  color: white;
  transition: 0.2s;
}
