@keyframes fadeInTop {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-top{
    opacity: 0;
    transform: translateY(-100px);
    animation: fadeInTop 0.5s ease-in forwards;
}

.fade-in-top-delayed{
    opacity: 0;
    transform: translateY(-100px);
    animation: fadeInTop 1s forwards 0.2s;
}